h2{
    font-family: 'Inter', sans-serif;
    color: white;

}
body{
    background-color: hsl(233, 47%, 7%);
    
}
.para{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75); 
}
.container{
    background-color: hsl(244, 38%, 16%);
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;

    
}